body {
  background-color: rgb(252, 252, 252);
}

header {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255);
  position: fixed;
  top: 0;
}

.rogo {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  margin-bottom: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#search1 {
  float: right;
  margin-right: 20px;
}

div > p {
  font-size: 20px;
  color: rgb(50, 50, 114);
  margin-top: -2px;
  margin-left: 2px;
  font-weight: 900;
}

.rogo a {
  text-decoration: none;
  color: rgb(50, 50, 114);
  font-weight: 900;
}

.rogo li {
  display: inline-block;
  margin-left: 20px;
}

.rogo nav {
  margin-top: 75px;
}

/* #square1 {
  width: 100%;
  height: 20px;
  background-color: rgba(85, 34, 4);
  position: relative;
  top: 142px;
} */

.kensaku a {
  text-decoration: none;
  font-size: 180%;
  color: rgb(50, 50, 114);
}

.kensaku li {
  display: inline-block;
  margin-top: 30px;
  margin-left: 12%;
  margin-right: 12%;
  border-bottom: solid 2px rgb(50, 50, 114);
}

.kensaku a:hover {
  background-color: rgb(50, 50, 114);
  color: white;
}

.bigimg {
  margin-top: 142px;
}

#info {
  background-color: rgba(41, 41, 88);
  border: solid 2em rgba(41, 41, 88);
  width: 70%;
  height: 400px;
  margin-left: 13%;
  margin-top: 100px;
  /* overflow-y: scroll; */
}

#scroll1 {
  width: 95%;
  height: 300px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  color: aqua;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 5px;

  background-color: white;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(117, 117, 117);
}

h1 {
  color: white;
  font-size: 150%;
  border-bottom: solid 3px white;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

h2 {
  color: white;
  margin-left: 10%;
  font-size: 20px;
  margin-top: 50px;
}

#info a {
  color: white;
}

#info li {
  margin-top: 10px;
  margin-left: 13%;
  width: 55%;
}

#info ul {
  list-style-type: square;
  color: white;
}

footer {
  background-color: rgb(41, 41, 88);
  text-align: center;
  color: white;
  font-weight: 900;
  height: auto;
}

footer > p {
  margin-left: 25px;
}

.aikon {
  display: inline-block;
  margin-top: 50px;
  margin-left: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
}

#aikon1 {
  display: flex;
  justify-content: center;
}

section > img {
  margin-left: -6px;
  margin-bottom: -8px;
}

#tatu {
  margin-top: 100px;
  margin-left: 0px;
}
